p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    margin-right: 10px;
    margin-left: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    color: #2b2b2b;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #2b2b2b;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #2b2b2b;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #2b2b2b;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Inconsolata", monospace;
    font-weight: 500 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.nav-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 5%;
    z-index: 100;
}

.nav-icon i {
    color: white;
    font-size: 1.5em;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}

.nav-menu li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
}

.nav-menu li a:hover::after {
    width: 100%;
    background-color: #f8b92a;
}

.section {
    padding-top: 70px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: auto;
    margin-bottom: 10px;
}

.profile h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}

.profile img {
    width: 12em;
    height: 12em;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}

.profile .profile-picture {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me .about-tab {
    display: none;
    width: 90%;
}

.about-tab.active {
    display: flex;
}

.about-tab .about-info {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work .work-tab {
    display: none;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.work .work-tab.active {
    display: flex;
}

.work .work-tab .work-item {
    flex: 0 0 45%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.work .work-tab .work-item .work-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px
}

.work .work-tab .work-item .work-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work .work-tab .work-item .work-info {
    margin-top: 10px;
}

.work .work-tab .work-item .work-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.work .work-tab .work-item .work-info h4 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #1d539f;
}

.work-info p {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.map-container {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-container .map-text {
    width: 20%;
    margin-right: 1em;
}

.map-container .map-text .color-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map-container .map-text .color-boxes .color-box-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.map-container .map-text .color-boxes .color-box-container .color-box {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--bg-color);
    margin-right: 10px;
    border-radius: 50%;
}

.map-container .map {
    height: 40em;
    width: 80%;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.education-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.education-section .education-tab {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    display: none;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.education-section .education-tab.active {
    display: block;
}

.education-section .education-tab .timeline {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.education-section ul, li {
    list-style: none;
    padding: 0;
}

.education-section li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #1d539f;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:last-child {
        padding-bottom: 0;
    }

    &:before {
        content: '';
        width: 1em;
        height: 1em;
        background: white;
        border: 1px solid #1d539f;
        box-shadow: 3px 3px 0px #96b4df;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
    }
}

.education-section .education-tab .timeline-item .timeline-date{
    color: #1d539f;
    font-weight: 500;
}

.education-section .education-tab .timeline-item .timeline-education h3 {
    color: #2b2b2b;
    font-weight: 500;
}

.education-section .education-tab .timeline-item .timeline-education p {
    line-height: 1.5;
    color: #555;
    font-weight: 300;
}

.member-tabs .tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f5f5f9;
    color: #1d539f;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
}
  
.member-tabs .tab-button.active {
    background-color: #1d539f;
    color: #f5f5f9;
}
  
.member-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hobbies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hobbies-section .hobby-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.hobby-container-card {
    width: 49%;
    background-color: white;
    height: 25rem;
    border-radius: 0 0 15px 15px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.hobbies-section .hobby-container .hobby-container-card .card-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: opacity 0.5s, height 0.5s ease-in-out;
}

.hobbies-section .hobby-container .hobby-container-card .card-content {
    padding: 1rem;
}

.hobbies-section .hobby-container .hobby-container-card .card-content h3 {
    color: #1d539f;
    font-weight: 500;
    margin: 0;
}

.hobbies-section .hobby-container .hobby-container-card .card-content p {
    color: #555;
    font-weight: 300;
    font-size: 0.9em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* On card hover, image opacity 0.5, image height 0, transition*/
.hobbies-section .hobby-container .hobby-container-card:hover .card-image {
    opacity: 0.5;
    height: 5rem;
    transition: opacity 0.5s, height 0.5s ease-in-out;
}

/* On card hover, show card content */
.hobbies-section .hobby-container .hobby-container-card:hover .card-content p {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.timeline-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: inherit;
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #1d539f;
}

.send-form-button {
    background-color: #1d539f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.timeline-posts {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.timeline-post {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.timeline-id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
    font-weight: 300;
    font-size: 0.8em;
    color: #838383;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.timeline-line-left {
    width: 2px;
    height: 100%;
    background-color: #1d539f;
    position: absolute;
    left: 14px;
    top: 22px;
    z-index: -1;
}

.timeline-line-right {
    width: 2px;
    height: 100%;
    background-color: #1d539f;
    position: absolute;
    right: 14px;
    top: 22px;
    z-index: -1;
}

.timeline-content-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.timeline-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.timeline-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.timeline-content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    flex-grow: 1;
    width: 100%;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.timeline-name{
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}

.timeline-content .content {
    font-size: 1em;
    font-weight: 300;
}

.timeline-content .created-at {
    font-size: 0.9em;
    font-weight: 300;
    color: #838383;
}

.timeline-post:last-child .timeline-line-right, .timeline-post:last-child .timeline-line-left {
    display: none;
}


/* Media Queries */
@media (max-width: 920px) {
    .nav-content nav {
        text-align: center;
    }
    .nav-content nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: #1d539f;
        transition: right 0.5s ease;
    }
    .nav-content nav ul li {
        margin: 1em 0;
        padding: 0 1.5em 0 1.5em;
    }
    .nav-icon {
        display: flex;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1em;
    }
    p {
        font-size: 0.75em;
    }
    .profile h1 {
        font-size: 2em;
    }
    .profile-picture img {
        width: 170px;
        height: 170px;
    }
    .map-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .map-container .map-text {
        width: 100%;
        margin-right: 0px;
    }
    .map-container .map-text .color-boxes{
        flex-direction: row;
    }
    .map-container .map {
        width: 100%;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.8em;
    }
    p {
        font-size: 0.7em;
    }
    .profile h1 {
        font-size: 1.5em;
    }
    .profile-picture img {
        width: 80px;
        height: 80px;
    }
    .work-tab {
        flex-direction: column;
    }
    .map-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .map-container .map-text {
        width: 100%;
        margin-right: 0px;
    }
    .map-container .map-text .color-boxes{
        flex-direction: row;
    }
    .map-container .map {
        width: 100%;
        height: 30em;
    }
    .hobby-container-card {
        width: 100%;
    }
    .timeline-content-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .timeline-avatar {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}
