{% extends "base.html" %}
{% block title %}
    Hobbies
{% endblock title %}

{% block content %}
    <div id="hobbies" class="hobbies-section section">
        {% for member in members %}
        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">{% if members|length > 1 %}{{ member.name }}'s {% else %}My {% endif %} Hobbies</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>
            <div class="hobby-container">
                {% for hobby_data in member.hobbies %}
                    <div class="hobby-container-card">
                        <img class="card-image" src="{{ hobby_data['img'] }}">
                        <div class="card-content">
                            <h3>{{ hobby_data['name'] }}</h3>
                            <p>{{ hobby_data['description'] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}