<!-- index.html -->
{% extends "base.html" %}
{% block title %}MLH Fellow{% endblock title %}

{% block content %}
    <section class="profile">
        <div id="profile-picture" class="profile-picture">
            {% for member in members %}
            <img src="{{ member.image }}" alt="{{ member.name }}">
            {% endfor %}
        </div>
        <h1 class="main-title">{{ title }}</h1>
        <a href="/#about" class="scroll-down">
        </a>
    </section>

    <!-- About Us Section -->
    <section class="about-me section" id="about">
        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">About {% if members|length > 1 %}Us {% else %}Me {% endif %}</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>
        {% if members|length > 1 %}
        <div class="member-tabs">
            {% for member in members %}
            <div id="tab-about-{{ loop.index }}" class="tab-button{% if loop.index == 1 %} active{% endif %}" data-section='about' onclick="openTab('about', '{{ loop.index }}')">
                <p>{{ member.name }}</p>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% for member in members %}
        <div id="content-about-{{ loop.index }}" class="about-tab{% if loop.index == 1 %} active{% endif %}">
            <div class="about-info">
                <h2 class="about-hi">Hi!</h2>
                <h3>I'm {{ member.name }} {{ member.lastname}} 👋</h3>
                <p>{{ member.about }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

    <!-- Work Experience Section -->
    <section class="work section" id="work">
        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">Work Experience</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>
        {% if members|length > 1 %}
        <div class="member-tabs">
            {% for member in members %}
            <div id="tab-work-{{ loop.index }}" class="tab-button{% if loop.index == 1 %} active{% endif %}" data-section='work' onclick="openTab('work', '{{ loop.index }}')">
                <p>{{ member.name }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% for member in members %}
            <div id="content-work-{{ loop.index }}" class="work-tab{% if loop.index == 1 %} active{% endif %}">
            {% for work in member.experience %}
                <div class="work-item">
                <!-- logo, position, company, date, description -->
                <div class="work-logo">
                    <img src="{{ work.logo }}" alt="{{ work.company }}">
                </div>
                <div class="work-info">
                    <h3>{{ work.position }}</h3>
                    <h4>{{ work.company }}</h4>
                    <p><i>{{ work.dates }}</i></p>
                    <p>{{ work.description }}</p>
                </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </section> 

    <!-- Education Section -->
    <section class="education-section section" id="education">
        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">Education</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>
        {% if members|length > 1 %}
        <div class="member-tabs">
            {% for member in members %}
            <div id="tab-education-{{ loop.index }}" class="tab-button{% if loop.index == 1 %} active{% endif %}" data-section='education' onclick="openTab('education', '{{ loop.index }}')">
                <p>{{ member.name }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% for member in members %}
    <div id="content-education-{{ loop.index }}" class="education-tab{% if loop.index == 1 %} active{% endif %}">
    <ul class="timeline">
        {% for education in member.education %}
        <li class="timeline-item">
            <div class="timeline-date">{{ education.date }}</div>
            <div class="timeline-education">
            <h3>{{ education.degree }}</h3>
            <p>{{ education.institution }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}

    </section>

    <!-- Map Section -->
    <section class="map-container section" id="map">
        <div class="map-text">
            <div class="tags top-tags">&lt;h2&gt;</div>
            <h2 class="section-title map-title">Places {% if members|length > 1 %}we {% else %}I {% endif %} have been to</h2>
            <div class="tags bottom-tags">&lt;/h2&gt;</div>
            <p>Here are some of the places {% if members|length > 1 %}we {% else %}I {% endif %} have been to.</p>
            {% if members|length > 1 %}
            <div class="color-boxes">
                {% for member in members %}
                    <div class="color-box-container">
                        <div class="color-box" style="--bg-color: {{ member.color }}">
                        </div>
                        <p>{{ member.name }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="map">
            {{ map|safe }}
        </div>
    </section> 

    <script src="{{ url_for('static', filename='scripts/opentab.js') }}"></script>
{% endblock content %}