<!-- timeline.html -->
{% extends "base.html" %}
{% block title %}Timeline{% endblock title %}

{% block content %}
    <section class="timeline-container section">
        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">{{ title }}</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>

        <div class="form-container">
            <form class="timeline-form" id="timelineForm">
                <!-- Name, Email, Content, Send button -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="What's your name? 👀" required>
                    <span id="name-error" class="form-error-message"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="What's your email? 📧" required>
                    <span id="email-error" class="form-error-message"></span>
                </div>
                <div class="form-group">
                    <label for="content">Comment</label>
                    <textarea id="content" name="content" placeholder="Type a nice comment 🦜" required></textarea>
                    <span id="content-error" class="form-error-message"></span>
                </div>
                <span id="request-error" class="form-error-message request"></span>
                <button id="addTimelinePost" class="send-form-button">Add Post</button>
            </form>
        </div>

        <div class="tags top-tags">&lt;h2&gt;</div>
        <h2 class="section-title">Records</h2>
        <div class="tags bottom-tags">&lt;/h2&gt;</div>
        <div class="timeline-posts">
            {% for post in posts %}
                <div class="timeline-post">
                    <div class="timeline-id">#{{ post.id }}</div>
                    <div class="timeline-line-left"></div>
                    <div class="timeline-line-right"></div>
                    <!-- Using gravatar to generate from email -->
                    <div class="timeline-content">
                        <div class="timeline-content-header">
                            <div class="timeline-avatar">
                                <img src="https://www.gravatar.com/avatar/{{ post.email|lower|trim }}?s=200&d=identicon" />
                            </div>
                            <h4 class="timeline-name">{{ post.name }} ({{ post.email }})</h4>
                        </div>
                        <p class="content">{{ post.content }}</p>
                        <p class="created-at">{{ post.created_at.strftime("%B %-d, %Y at %I:%M %p") }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
    <script src="{{ url_for('static', filename='scripts/addpost.js') }}"></script> 
{% endblock content %}
